.d-flex {
    display: flex;
}

.fs-07 {font-size: 0.7rem;}
.text-center {text-align: center;}
.flex-column {
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.h-20 {
    height: 20%;
}
.w-50 {
    width: 50%;
}
.d-none {
    display: none;
}

.margin10 {
    margin: 10px;
}

.space-button {
    margin: 30px;
    padding:20px;
}
.bg-white {
    background-color: white;
}

body{
    background-color: black;
    height:100vh;
}
#step-1 {
    overflow: scroll;
}
#step-2 {
    display: none;
    overflow: scroll;

}
#step-3 {
    display: none;
    overflow: scroll;
}

.pr-btn {
    width: auto;
    height: 1.5rem;
    background: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding:7px;
}

.product-box {
    width: 95%;
    height: 80%;
    background: white;
    border-radius: 15px;
}
.product-box input {
    background-color: black;
    color: white;
}

